<!DOCTYPE html>
<html>
<head>
    <title>My Flask API</title>
</head>
<body>
    <h1>Welcome to My Flask API</h1>
    <!-- <div class="banner-section section parallax-window" data-parallax="scroll" data-image-src="{{ url_for('serve_image', filename='bg-2.png') }}" id="section-1"></div> -->
    <!-- <img data-parallax="scroll" src="{{ url_for('serve_image', filename='bg-2.png') }}" id="section-1"> -->
    <img data-parallax="scroll" src="{{ url_for('static', filename='bg-2.png') }}" id="section-1">


    <!-- <img data-parallax="scroll" src="{{ url_for('serve_image', filename='bg-2.png') }}" alt="Image 1"> -->
    <!-- Add more images as needed -->
</body>
</html>
